# Lists 

1. The list type in python is of the object type sequence,is a mutable and notated by [ ]
2. Lists can contain any type of element or items.

## Creating Lists

In [75]:
new_list = ['fish', 3.5, True]

print(new_list)

['fish', 3.5, True]

In [76]:
another_list = ['paris', 5.0, 9]

print(another_list)

['paris', 5.0, 9]

In [77]:
flowers = ['roses', 'lillies', 'daisies', 'lilacs']
print(flowers)

['roses', 'lillies', 'daisies', 'lilacs']

In [78]:
fruits = ['apple', 'banana', 'mango', 'peach']
print(fruits)

['apple', 'banana', 'mango', 'peach']

In [79]:
#Create an empty list - Method 1
empty_list = []
print(empty_list)

[]

In [80]:
#Create an empty list - Method 2
my_empty_list = list()
print(my_empty_list)

[]

In [81]:
#single element list
print(['abc'])
print(type(['abc']))

['abc']
<class 'list'>

In [82]:
# A nested list can contain elements of different types including a list

my_nested_list = ['saturn', 10, 2.0, [24, 'pluto']]

print(my_nested_list)

['saturn', 10, 2.0, [24, 'pluto']]

In [83]:
# A list of lists

nested_list_new = [[10,12,14],[1,2,3]]

print(nested_list_new)

[[10, 12, 14], [1, 2, 3]]

In [84]:
# if you just want to make a list from a string, use list()
a_list = list('jupyter')
print(a_list)

['j', 'u', 'p', 'y', 't', 'e', 'r']

In [85]:
# range function creates a list of numbers
b_list = list(range(7)) 
print(b_list)

b1_list = list(range(-4, 4))
print(b1_list)

[0, 1, 2, 3, 4, 5, 6]
[-4, -3, -2, -1, 0, 1, 2, 3]

## Sequence Operations
1. Since lists are sequences, the sequence operations such as indexing and slicing can be performed on a list.
2. lists are mutable, so you can replace items in a list

## Indexing

In [86]:
# Indexing starts from 0.
new_list[1]

3.5

In [87]:
new_list[-1] # counts from the right

True

In [88]:
# indexing supports assignment. We ae changing the element fish to 'clam'
new_list[0] = 'clam'
print(new_list)

['clam', 3.5, True]

In [89]:
# Accessing elements from a list of lists or nested list
print(nested_list_new[1][2])

print(my_nested_list[3][0])

3
24

## Slicing

In [90]:
print(a_list[3:])

['y', 't', 'e', 'r']

In [91]:
print(a_list[1:3])

['u', 'p']

In [92]:
print(a_list[:3])

['j', 'u', 'p']

In [93]:
a_list[1:3] = 'xx'
print(a_list)

['j', 'x', 'x', 'y', 't', 'e', 'r']

In [94]:
# Slicing accesses parts of the list
print([b_list[1], b_list[2], b_list[0]])

[1, 2, 0]

## List Operations

**The operator + concatenates lists**

**The operator * repeats a list**

NOTE: These operations requires the same type (list) on both sides.

In [95]:
list_1 = [1,2,3]
list_2 = [4,5,6, 7,8,9,10,11,12]

list_three = list_1 + list_2

print(list_three)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [96]:
protocols = another_list + ['http', 'ntp']
print(protocols)

['paris', 5.0, 9, 'http', 'ntp']

In [97]:
new_protocols = protocols * 3

print(new_protocols)

['paris', 5.0, 9, 'http', 'ntp', 'paris', 5.0, 9, 'http', 'ntp', 'paris', 5.0, 9, 'http', 'ntp']

## Deleting elements from a list

There are several ways to remove elements from a list.

In [98]:
# Remove using the indx position

del list_1[1]

print(list_1)

[1, 3]

In [99]:
# Remove more than one element

del list_2[2:4]

print(list_2)

[4, 5, 8, 9, 10, 11, 12]

In [100]:
# Removing by assigning to an empty list

list_2[4:6]=[]
print(list_2)

[4, 5, 8, 9, 12]

## Membership in a list

In [101]:
9 in list_2

True