# Sets

* A set is an unordered collection of unique values.

* Values in a set has to be unique, but can be of any datatype.

## Creating a Set

In [69]:
# Method 1
my_set = {'python', 'java', 'fortran'}
print(my_set)

my_set_new = {'perl', 'python', 'php'}

{'python', 'fortran', 'java'}

In [70]:
# Creating a set from a list. If the list has duplicates it will be removed. Sets are unordered

flower_set  = set(['roses', 'lillies', 'daffodils'])

print(flower_set)

{'daffodils', 'roses', 'lillies'}

In [61]:
# Creating an empty set

empty_set = set() # Note how it displays. You cannot create an empty set with {}. that is a dict

print(empty_set)

set()

## Modifying a set

In [71]:
# add only takes one argument

my_set.add('julia')

print(my_set)

{'python', 'fortran', 'julia', 'java'}

In [72]:
# Update method takes one argument which could be a list, set, string or integer

my_set.update({'php', 'html'})

print(my_set)

{'python', 'java', 'julia', 'fortran', 'html', 'php'}

## Removing items from a set

In [73]:
# Discard will remove if object exists, otherwise no op.

my_set.discard('java')

print(my_set)

{'python', 'julia', 'fortran', 'html', 'php'}

In [74]:
# Remove will error if an object doesn't exist

my_set.remove('html')

print(my_set)

{'python', 'julia', 'fortran', 'php'}

In [75]:
# Removes a random element. 
my_set.pop()

'python'

In [ ]:
# Clear removes all elements from the set. I didn't run this. 
my_set.clear()

print(my_set)

## Additional Set Operations

In [76]:
# in operator for membership

'julia' in my_set

True

In [77]:
# Joins two sets
my_set.union(flower_set)

{'daffodils', 'fortran', 'julia', 'lillies', 'php', 'roses'}

In [78]:
# Finds the common elements between two sets
my_set.intersection(my_set_new)

{'php'}

In [85]:
# Finds elements that are in my_set but not in my_set_new


print(my_set.difference(my_set_new))

print(my_set_new.difference(my_set))

# This is the only one which is not symmetric

print(my_set.difference(my_set_new) == my_set_new.difference(my_set))

{'julia', 'fortran'}
{'python', 'perl'}
False

In [81]:
# Finds elements that are only in one of the sets. Any common element is removed
my_set.symmetric_difference(my_set_new)

{'fortran', 'julia', 'perl', 'python'}

## Additional Set Methods

In [87]:
# Are all members of my_set are also members of my_set_new
my_set.issubset(my_set_new)

False

In [88]:
# Same as above but in reverse
my_set.issuperset(my_set_new)

False